.navigation-card__hidden--inline {
    padding-inline: 0;
}

.navigation-card__hidden--inline.is-open {
    padding-bottom: 0;
}

.navigation-card__hidden--inline > .navigation-card__list--hidden {
    padding-top: 1rem;
}
